html
{
    background-color: hsl(212, 45%, 89%);
}

p
{
    font-family: "Outfit";
    text-align: center;
}

.container
{
    width: 310px;

    margin: 0 auto 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    padding: 20px;
    border-radius: 8px;
}

.main
{
    background: #f0f0f0;
    padding: 2rem;
    border-radius: 0.5em;
}

.picture
{
    display: block;
    width: 250px;
    border-radius: 5%;
    max-width: 100%;
    height: auto;
} 

.top-text
{
    font-size: larger;
}

.description
{
    font-size: 15px;
    opacity: 50%;
}

