.container
{
    width: 310px;
    margin: 0 auto;

    justify-content: center;
    text-align: center;
    padding: 2rem;
    border-radius: 8px;

}

.main
{
    background: #f0f0f0;
    padding: 2rem;
    border-radius: 8px;

}

.picture
{
    display: block;
    width: 250px;
    border-radius: 5%;
    
} 

.top-text
{

}

.description
{

}

